dbpedia_2016-10.owl
disambiguations_en.ttl
en_surface_forms.ttl
instance_types_en.ttl
instance_types_transitive_en.ttl
labels_en.ttl
long_abstracts_en.ttl
mappingbased_literals_en.ttl
mappingbased_objects_en.ttl
pagerank_en_2016-04.ttl
persondata_en.ttl
specific_mappingbased_properties_en.ttl
transitive_redirects_en.ttl

