qa.hawk/QALD6_Train_Multilingual_NIF.ttl	
qa.hawk/results.html
qa.hawk/resources
qa.hawk/deploy-scripts/data
qa.hawk/README.md
qa.hawk/hawk_api.json
qa.hawk/sorttable.js
qa.hawk/cache
qa.hawk/log.out
qa.hawk/results
qa.hawk/lib
