# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse 
*.class
.classpath
.project
target
.settings
target/

# Project-based exclusions
**/.clover/
log.out
qa.datasets/src/main/resources/QALD
qa.datasets/src/main/resources/QALD-master
