*.class
*.DS_Store
# Package Files #
*.jar
*.war
*.ear
/target

# Eclipse Files #
.classpath
.project
.settings/

# Project-specific Files #
/target
src/main/resources/QALD-5_logs.zip
src/main/resources/QALD-5_logs/
src/main/resources/qald5train/
/cache

